body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $primary-darkest-grey;
  line-height: 1.7;
  font-weight: 400;
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.heading-tertiary{
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}