.grid-width{
  width: $header-row-width;
  margin: 0 auto;
}

.section-slider{
  margin: 1% 0;
}

.section-vision{
  margin: 1% 0;
  padding: 8rem 0;
}

.section-op-news{
  margin: 1% 0;
  padding: 5rem 0;
  background-color: #f4f4f4;
}